* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1248px;
  margin-inline: auto;
  padding-inline: 24px;
}

.wrapper {
  padding-block: 64px;
}

.button {
  background-color: rgb(88, 20, 152);
  color: violet;
  padding: 16px 24px;
  border-radius: 8px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}

.nav {
  background-color: blueviolet;
  color: rgb(246, 209, 246);
  font-weight: 700;
}
.nav a {
  color: rgb(246, 209, 246);
  text-decoration: none;
}
.nav .wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-block: 15px;
}
.nav__logo {
  font-size: 25px;
}
.nav__menus {
  display: flex;
  gap: 1.875rem;
  align-items: baseline;
  white-space: nowrap;
}
.nav__menus span {
  color: rgb(234, 192, 234);
}
.nav .mobile {
  display: none;
  text-align: right;
}
@media (width < 1100px) {
  .nav .wrapper {
    font-size: 12px;
  }
}
@media (width < 920px) {
  .nav .wrapper {
    gap: 16px;
    font-weight: 700;
  }
  .nav .wrapper .nav__menus {
    gap: 10px;
  }
}
@media (width < 800px) {
  .nav .wrapper {
    font-size: unset;
  }
  .nav .mobile {
    display: unset;
  }
  .nav__menus {
    display: none;
  }
  .nav .m_menu {
    color: violet;
  }
}

.m_menu {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.dropdown {
  display: none;
  z-index: 1;
  font-size: 13px;
}
.dropdown .dropbt {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}
.dropdown .es {
  color: white;
}
.dropdown .bt {
  color: white;
  background-color: rgb(88, 20, 152);
  padding: 8px 8px;
  border-radius: 4px;
}

.dropdown a {
  display: block;
  margin-bottom: 5px;
}

.mobile:hover .dropdown {
  display: block;
}

.mobile:hover {
  height: 200px;
}

.over:hover {
  font-size: 18px;
}

.anima {
  color: #000;
  font-weight: 700;
  animation: anima 3s infinite;
}

@keyframes anima {
  15% {
    color: red;
  }
  30% {
    color: orange;
  }
  45% {
    color: goldenrod;
  }
  60% {
    color: green;
  }
  75% {
    color: blue;
  }
  80% {
    color: purple;
  }
}
#search {
  max-width: 1248px;
  margin-inline: auto;
  padding-inline: 24px;
}
#search .wrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
  padding-block: 32px;
}
#search input {
  width: 85%;
  border: solid rgb(88, 20, 152) 1.5px;
  border-radius: 8px;
  padding: 10px 13px;
  margin-inline: auto;
}
#search a {
  color: violet;
  text-decoration: none;
}
#search .search__button {
  width: 100px;
  background-color: rgb(88, 20, 152);
  color: violet;
  padding: 10px 2%;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}
@media (width < 650px) {
  #search .search__button {
    width: 70px;
    font-size: 12px;
    white-space: nowrap;
  }
}
@media (width < 430px) {
  #search .search__button {
    width: 50px;
    white-space: nowrap;
    font-size: 12px;
  }
}

h2 {
  margin-bottom: 32px;
}

p {
  margin-bottom: 24px;
}

#main1 .main__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}
#main1 .main__images img {
  -o-object-fit: cover;
     object-fit: cover;
  border: rgb(88, 20, 152) 2px solid;
  border-radius: 8px;
}
@media (width < 1200px) {
  #main1 .main__images {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
}
@media (width < 900px) {
  #main1 .main__images {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
@media (width < 600px) {
  #main1 .wrapper {
    text-align: center;
  }
  #main1 .wrapper .main__images {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

#design .wrapper {
  display: flex;
  gap: 30px;
}
#design .wrapper > * {
  flex: 1;
}
#design .wrapper .main_image {
  background-color: aqua;
  aspect-ratio: 3/2;
  overflow: hidden;
}
#design .wrapper .main_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width < 800px) {
  #design .wrapper {
    display: block;
  }
  #design .wrapper .main_image {
    background-color: aqua;
    aspect-ratio: 2/1;
  }
}

.footer {
  background-color: thistle;
  color: darkmagenta;
  font-size: 14px;
}
.footer a {
  text-decoration: none;
  color: darkmagenta;
  list-style: none;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}
.footer .column {
  margin-bottom: 32px;
  margin-inline: auto;
}
.footer h2 {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer li {
  margin-bottom: 3px;
  margin-left: 10px;
}
@media (width < 850px) {
  .footer .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.line {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
  font-size: 25px;
  font-weight: 700;
}

#main2 {
  text-align: center;
}
#main2 p {
  line-height: 30px;
}/*# sourceMappingURL=css.css.map */