* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  $Size: 24px;
  max-width: 1200px + 2 * $Size;
  margin-inline: auto;
  padding-inline: $Size;
}

.wrapper {
  padding-block: 64px;
}

.button {
  background-color: rgb(88, 20, 152);
  color: violet;
  padding: 16px 24px;
  border-radius: 8px;
  //   border: solid rgb(88, 20, 152) 3px;
  text-align: center;
  width: fit-content;
}

.nav {
  background-color: blueviolet;
  color: rgb(246, 209, 246);
  font-weight: 700;
  a {
    color: rgb(246, 209, 246);
    text-decoration: none;
  }
  .wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-block: 15px;
  }

  &__logo {
    // font-weight: bold;
    font-size: 25px;
  }
  &__menus {
    display: flex;
    gap: 1.875rem;
    align-items: baseline;
    white-space: nowrap;
    span {
      color: rgb(234, 192, 234);
    }
  }

  .mobile {
    display: none;
    text-align: right;
  }

  @media (width <1100px) {
    .wrapper {
      //   font-weight: 700;
      font-size: 12px;
      //   gap: 10px;
    }
  }
  @media (width <920px) {
    .wrapper {
      //   font-weight: 700;
      // font-size: 12px;
      gap: 16px;
      font-weight: 700;

      .nav__menus {
        gap: 10px;
      }
    }
  }

  @media (width < 800px) {
    .wrapper {
      font-size: unset;
    }
    .mobile {
      display: unset;
    }
    &__menus {
      display: none;
    }
    .m_menu {
      color: violet;
    }
  }
}

.m_menu {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.dropdown {
  display: none;
  z-index: 1;
  font-size: 13px;
  .dropbt {
    text-align: right;
    // display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    // background-color: black;
  }
  .es {
    color: white;
    // margin-left: auto;
  }
  .bt {
    color: white;
    background-color: rgb(88, 20, 152);
    padding: 8px 8px;
    border-radius: 4px;
    // margin-left: auto;
  }
}

.dropdown a {
  display: block;
  margin-bottom: 5px;
}

.mobile:hover .dropdown {
  display: block;
}

.mobile:hover {
  height: 200px;
}

.over:hover {
  font-size: 18px;
}

.anima {
  color: #000;
  font-weight: 700;
  animation: anima 3s infinite;
}

@keyframes anima {
  15% {
    color: red;
  }
  30% {
    color: orange;
  }
  45% {
    color: goldenrod;
  }
  60% {
    color: green;
  }
  75% {
    color: blue;
  }
  80% {
    color: purple;
  }
}

#search {
  $Size: 24px;
  max-width: 1200px + 2 * $Size;
  margin-inline: auto;
  padding-inline: $Size;

  .wrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
    padding-block: 32px;
  }
  input {
    width: 85%;
    border: solid rgb(88, 20, 152) 1.5px;
    border-radius: 8px;
    padding: 10px 13px;
    margin-inline: auto;
  }
  a {
    color: violet;
    text-decoration: none;
  }
  .search__button {
    width: 100px;
    background-color: rgb(88, 20, 152);
    color: violet;
    padding: 10px 2%;
    // align-items: center;
    border-radius: 8px;
    // margin-inline: 10px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
  }
  @media (width < 650px) {
    // input {
    //   padding: 20px 13px;
    // }
    .search__button {
      width: 70px;
      // padding: 10px 10px;
      font-size: 12px;
      white-space: nowrap;
    }
  }
  @media (width < 430px) {
    // input {
    //   padding: 15px 13px;
    // }
    .search__button {
      width: 50px;
      white-space: nowrap;
      // padding-inline: 7.5px 15px;
      // padding-block: 8px;
      // text-align: center;
      font-size: 12px;
    }
  }
}

h2 {
  margin-bottom: 32px;
}

p {
  margin-bottom: 24px;
}

#main1 {
  //   background-color: aquamarine;

  .main {
    &__images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 16px;
      margin-bottom: 24px;

      img {
        object-fit: cover;
        border: rgb(88, 20, 152) 2px solid;
        border-radius: 8px;
      }
      //   margin-inline: auto;
      //   margin-bottom: 24px;
    }
  }
  @media (width < 1200px) {
    .main__images {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
      //   grid-auto-flow: row dense;
    }
  }
  @media (width < 900px) {
    .main__images {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      //   grid-auto-flow: row dense;
    }
  }
  @media (width < 600px) {
    .wrapper {
      text-align: center;
      .main__images {
        grid-template-columns: 1fr;
        gap: 16px;
        //   grid-auto-flow: row dense;
      }
    }
  }
}

#design {
  .wrapper {
    display: flex;
    // align-items: center;
    $gap-val: 30px;
    gap: $gap-val;
    & > * {
      flex: 1;
    }
    .main_image {
      // text-align: center;
      background-color: aqua;
      aspect-ratio: 3/2;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (width < 800px) {
    .wrapper {
      display: block;
      .main_image {
        // text-align: center;
        background-color: aqua;
        aspect-ratio: 2/1;
      }
    }
  }
}

.footer {
  background-color: thistle;
  color: darkmagenta;
  font-size: 14px;

  a {
    text-decoration: none;
    color: darkmagenta;
    list-style: none;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
  }
  .column {
    margin-bottom: 32px;
    margin-inline: auto;
    // justify-content: center;
  }
  h2 {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 3px;
    margin-left: 10px;
  }
  @media (width < 850px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.line {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
  font-size: 25px;
  font-weight: 700;
}

#main2 {
  text-align: center;
  p {
    line-height: 30px;
  }
}
