* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  --whatName: 24px;
  max-width: calc(1200px + 2 * var(--whatName));
  margin-inline: auto;
  padding-inline: var(--whatName);
}

.wrapper {
  padding-block: 64px;
}

.nav .wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-block: 12px;
  color: white;
}

.nav .nav__menuWrap {
  display: flex;
  gap: 24px;
  align-items: baseline;
}

.nav {
  background-color: black;
  font-weight: 700;
}

.button {
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  text-align: center;
  width: fit-content;
}

.button--type--text {
  background-color: unset;
  color: slateblue;
  padding-inline: unset;
}

/* 
#main1 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
